---
- name: Install CUPS and drivers
  pacman:
    state: present
    name:
      - cups
      - cups-pdf
      - ghostscript
      - gscan2pdf
      - gsfonts
      - gtk3-print-backends
      - gutenprint
      - hplip
      - sane

- name: Add a print admin group
  group: name=printadmin state=present

- name: Allow the print admin group to administer CUPS
  lineinfile: dest=/etc/cups/cups-files.conf
              regexp=^SystemGroup
              state=present
              line="SystemGroup sys root printadmin"
  notify:
    - Restart cups

- name: Add the user to the print and print admin groups
  user: name={{ user.name }} groups=printadmin,lp append=yes
  tags:
    - user

- name: Enable and start CUPS
  service: name=org.cups.cupsd.service enabled=yes state=started
  when: no_systemd is not defined or not no_systemd
