---
dist: xenial
language: python

python:
  - "3.7"

install: pip3 install ansible ansible-lint yamllint jmespath
script:
  - ansible-lint playbooks/config.yml
  - ansible-lint playbooks/install.yml
  - yamllint .
  - docker build ci -t testing
  - docker run -v `pwd`:/config_ansible:ro testing
    ansible-playbook --diff playbooks/config.yml -l localhost
