---
- name: Create xfconf directory
  file:
    path: "{{ user.home }}/.config/xfce4/xfconf/xfce-perchannel-xml/"
    state: directory
    owner: "{{ user.name }}"
    recurse: yes

- name: Check that xfce4-notifyd.xml exists
  stat:
    path: "{{ user.home }}/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-notifyd.xml"
  register: stat_result

- name: Fill xfce4-notifyd.xml
  copy:
    dest: "{{ user.home }}/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-notifyd.xml"
    content: "<channel name=\"xfce4-notifyd\" version=\"1.0\"></channel>"
  when: not stat_result.stat.exists

- name: Install lxml
  pacman:
    update_cache: yes
    name: python-lxml
    state: present

- name: Config xfce4-notifyd
  xml:
    path: "{{ user.home }}/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-notifyd.xml"
    xpath: /channel/property[@name="do-slideout" and @type="bool" and @value="true"]
    state: present

- name: Config xfce4-notifyd
  xml:
    path: "{{ user.home }}/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-notifyd.xml"
    xpath: /channel/property[@name="do-slideout" and @type="bool" and @value="false"]
    state: absent
