---

- name: Xdefaults
  copy:
    src: Xdefaults
    dest: "{{ user.home }}/.Xdefaults"
    owner: "{{ user.name }}"

- name: xinitrc
  copy:
    src: xinitrc
    dest: "{{ user.home }}/.xinitrc"
    owner: "{{ user.name }}"
    mode: a+x

- name: Create config directory
  file:
    path: "{{ user.home }}/.config"
    state: directory
    owner: "{{ user.name }}"

- name: Create i3config directory
  file:
    path: "{{ user.home }}/.config/i3"
    state: directory
    owner: "{{ user.name }}"

- name: i3config
  copy:
    src: i3config
    dest: "{{ user.home }}/.config/i3/config"
    owner: "{{ user.name }}"

- name: xbindkeysrc
  copy:
    src: xbindkeysrc
    dest: "{{ user.home }}/.xbindkeysrc"
    owner: "{{ user.name }}"

- name: xprofile
  copy:
    src: xprofile
    dest: "{{ user.home }}/.xprofile"
    owner: "{{ user.name }}"
