---

- name: Xdefaults
  copy:
    src: Xdefaults
    dest: "{{ user.home }}/.Xdefaults"
    owner: "{{ user.name }}"

- name: xinitrc
  copy:
    src: xinitrc
    dest: "{{ user.home }}/.xinitrc"
    owner: "{{ user.name }}"
    mode: a+x

- name: i3config
  copy:
    src: i3config
    dest: "{{ user.home }}/.config/i3/config"
    owner: "{{ user.name }}"

- name: xbindkeysrc
  copy:
    src: xbindkeysrc
    dest: "{{ user.home }}/.xbindkeysrc"
    owner: "{{ user.name }}"
