---

- name: Install X11
  pacman:
    update_cache: yes
    state: present
    name:
      - xbindkeys
      - xorg-server
      - xorg-xinit
      - xsel
      - compton

- name: Install i3
  pacman:
    update_cache: yes
    state: present
    name:
      - arandr
      - i3-wm
      - i3lock
      - i3status
      - noto-fonts
      - pavucontrol
      - pulseaudio
      - rofi
      - rxvt-unicode
      - xorg-xrandr
      - xss-lock
      - blueman

- aur:
    use: trizen
    name:
      - light
      - otf-inconsolata-powerline-git
  become: yes
  become_user: aurbuilder
