---
- name: Install X11
  pacman:
    update_cache: yes
    state: present
    name:
      - compton
      - xbindkeys
      - xorg-server
      - xsel

- name: Install window manager and related stuff
  pacman:
    update_cache: yes
    state: present
    name:
      - arandr
      - autorandr
      - blueman
      - i3-wm
      - i3lock
      - i3status
      - noto-fonts
      - pavucontrol
      - pulseaudio
      - rofi
      - rxvt-unicode
      - xorg-xrandr

- name: Enable autorandr service
  service:
    name: autorandr.service
    enabled: yes
    state: started
  notify: Restart autorandr
  when: no_systemd is not defined or not no_systemd

- name: Install aur xorg tools
  aur:
    use: trizen
    name:
      - light
      - otf-inconsolata-powerline-git
  become: yes
  become_user: aurbuilder
