---
- name: Install pkgs
  pacman:
    name:
      - arduino
      - minicom
      - picocom
      - screen

- name: Add user to dialog group
  user:
    name: "{{ user.name }}"
    group: uucp
    append: yes
