- name: Install graphical utilities
  pacman:
    update_cache: yes
    state: present
    name:
      - android-file-transfer
      - evince
      - feh
      - firefox
      - gimp
      - gparted
      - libreoffice-fresh
      - qemu
      - scrot
      - thunderbird
      - transmission-gtk
      - virt-manager
      - youtube-dl
      - zathura
      - zathura-pdf-poppler
      - vlc

- name: Install Thunar and dependencies
  pacman:
    update_cache: yes
    state: present
    name:
      - thunar
      - ffmpegthumbnailer
      - tumbler

- name: Install git instaweb prerequisites
  pacman:
    update_cache: yes
    state: present
    name:
      - perl-cgi
      - lighttpd

- aur:
    use: trizen
    name:
      - google-chrome
      - slack-desktop
      - spotify
  become: yes
  become_user: aurbuilder
