- name: Install graphical utilities
  pacman:
    update_cache: yes
    state: present
    name:
      - feh
      - firefox
      - scrot
      - thunderbird
      - zathura
      - zathura-pdf-poppler
      - gimp
      - youtube-dl
      - gparted
      - evince
      - virt-manager
      - qemu
      - android-file-transfer

- aur:
    use: trizen
    name:
      - slack-desktop
      - spotify
      - google-chrome
  become: yes
  become_user: aurbuilder
