---
- name: Install graphical utilities
  pacman:
    update_cache: yes
    state: present
    name:
      - evince
      - feh
      - firefox
      - gimp
      - gparted
      - qemu
      - scrot
      - thunderbird
      - transmission-gtk
      - virt-manager
      - youtube-dl
      - zathura
      - zathura-pdf-poppler
      - vlc

- name: Install Thunar and dependencies
  pacman:
    update_cache: yes
    state: present
    name:
      - thunar
      - ffmpegthumbnailer
      - tumbler

- name: Install git instaweb prerequisites
  pacman:
    update_cache: yes
    state: present
    name:
      - perl-cgi
      - lighttpd

- name: Install Chrome Slack and spotify
  aur:
    use: trizen
    name:
      - google-chrome
      - slack-desktop
  become: yes
  become_user: aurbuilder

- name: Configs
  copy:
    src: tridactylrc
    dest: "{{ user.home }}/.tridactylrc"
    owner: "{{ user.name }}"
