---
- pacman:
    update-cache: yes
    name:
      - sudo

- name: Create user
  user:
    name: "{{ user.name }}"
    groups: "{{ user.groups }}"
    append: yes
    home: "{{ user.home }}"
    password: "{{ user.password }}"

- lineinfile:
    path: /etc/sudoers.d/11-wheel-group
    line: '%wheel ALL=(ALL) ALL'
    create: yes
    validate: 'visudo -cf %s'
