---

- name: zshrc
  copy:
    src: zshrc
    dest: "{{ user.home }}/.zshrc"
    owner: "{{ user.name }}"

- name: gitconfig
  template:
    src: gitconfig
    dest: "{{ user.home }}/.gitconfig"
    owner: "{{ user.name }}"

- name: pacman.conf
  copy:
    src: pacman.conf
    dest: /etc/pacman.conf
  when: only_user_confs is not defined or not only_user_confs

- name: disable compression in makepkg
  lineinfile: dest=/etc/makepkg.conf
              regexp="^PKGEXT="
              state=present
              line="PKGEXT='.pkg.tar'"
  when: only_user_confs is not defined or not only_user_confs
