---

- name: vimrc
  copy:
    src: vimrc
    dest: "{{ user.home }}/.vimrc"
    owner: "{{ user.name }}"

- name: zshrc
  copy:
    src: zshrc
    dest: "{{ user.home }}/.zshrc"
    owner: "{{ user.name }}"

- name: gitconfig
  copy:
    src: gitconfig
    dest: "{{ user.home }}/.gitconfig"
    owner: "{{ user.name }}"

