---

- name: Install common tools
  pacman:
    update_cache: yes
    state: present
    name:
      - ansible
      - base-devel
      - bind-tools
      - curl
      - dosfstools
      - exfat-utils
      - efibootmgr
      - gdb
      - git
      - gnu-netcat
      - htop
      - mlocate
      - ntfs-3g
      - ntfsprogs
      - p7zip
      - parallel
      - pkgfile
      - proxychains-ng
      - python-virtualenv
      - rsync
      - screen
      - tcpdump
      - traceroute
      - tree
      - unrar
      - unzip
      - valgrind
      - wget
      - zsh

- name: Install nvidia related pkgs
  pacman:
    update_cache: yes
    state: present
    name:
      - cuda
      - nvidia
  when: gpu is defined and gpu == 'nvidia'

- aur:
    use: trizen
    name:
      - etcher-cli-bin
      - manly
      - oh-my-zsh-git
  become: yes
  become_user: aurbuilder
