---
- name: Install common tools
  pacman:
    update_cache: yes
    state: present
    name:
      - ansible
      - ansible-lint
      - bind-tools
      - curl
      - dosfstools
      - efibootmgr
      - exfat-utils
      - gnu-netcat
      - htop
      - mlocate
      - ntfs-3g
      - ntfsprogs
      - p7zip
      - parallel
      - pkgfile
      - proxychains-ng
      - rsync
      - screen
      - tcpdump
      - traceroute
      - tree
      - unrar
      - unzip
      - wget
      - zsh
      - mosh
      - python-pip
      - dmidecode
      - smartmontools

- name: Install nvidia related pkgs
  pacman:
    update_cache: yes
    state: present
    name:
      - cuda
      - nvidia
  when: gpu is defined and gpu == 'nvidia'

- name: Install common packages on aur
  aur:
    use: trizen
    name:
      - etcher-cli-bin
      - manly-git
      - oh-my-zsh-git
  become: yes
  become_user: aurbuilder
