---
user:
  name: test
  group: test
  groups:
    - wheel
  shell: /bin/zsh
  home: /home/testhome
  password: $1$5iNU6OGu$hiyL.gc4jgiDaywOl89mo1

git:
  name: "truc"
  email: truc@test.com

timezone:
  region: Europe
  city: Paris

no_systemd: True

ssh:
  enable_sshd: True
  PasswordAuthentication: "yes"
  PermitEmptyPasswords: "yes"

hostname: test

cpu: intel

install:
  repartition: yes
  disk: /dev/sdb
  password: test
  mountpoint: /mnt
  swap_size: 8G
  luks_pass: !vault |
    $ANSIBLE_VAULT;1.1;AES256
    62396162356562316134313561613361623436663933316433626435303432653364336261356165
    6439656565623536386532356335613632393263313034300a316336366534613437656631386130
    39316531376262666232336262653362646237626434323334663164613731386633646637363364
    3735356535323336350a326130383461383462623131326437363135623062303830643139303061
    3238
  vg_root: volg-root
  lv_root: logv-root
  lv_swap: logv-swap
