---

- name: Install common tools
  pacman:
    update_cache: yes
    state: present
    name:
      - vim
  when: only_user_confs is not defined or only_user_confs == False

- name: vimrc
  copy:
    src: vimrc
    dest: "{{ user.home }}/.vimrc"
    owner: "{{ user.name }}"
  when: do_not_copy_vimrc is not defined or do_not_copy_vimrc == False

- file:
    path: "{{ user.home }}/.vim/pack/git-plugins/start"
    state: directory
    owner: "{{ user.name }}"

- git:
    repo: https://github.com/w0rp/ale.git
    dest: "{{ user.home }}/.vim/pack/git-plugins/start/ale"

- git:
    repo: https://github.com/Valloric/YouCompleteMe.git
    dest: "{{ user.home }}/.vim/pack/git-plugins/start/YouCompleteMe"

- command: ./install.py --clang-completer
  args:
    chdir: "{{ user.home }}/.vim/pack/git-plugins/start/YouCompleteMe"

- git:
    repo: https://github.com/tpope/vim-fugitive.git
    dest: "{{ user.home }}/.vim/pack/git-plugins/start/vim-fugitive"
