---
- name: Install vim and tools needed for plugins
  pacman:
    update_cache: yes
    state: present
    name:
      - cmake
      - vim
  when: only_user_confs is not defined or not only_user_confs

- name: Install vim and tools needed for plugins (AUR)
  aur:
    use: trizen
    name:
      - ycm-generator-git
  become: yes
  become_user: aurbuilder
  when: only_user_confs is not defined or not only_user_confs

- name: Install linters
  pacman:
    update_cache: yes
    state: present
    name:
      - flawfinder
      - languagetool
      - shellcheck
      - vint
      - yamllint
  when: only_user_confs is not defined or not only_user_confs

- name: Install cpplint
  pip:
    name: cpplint
  when: only_user_confs is not defined or not only_user_confs

- name: Install linters on aur
  aur:
    use: trizen
    name:
      - cmake-format
      - cquery
      - gitlint
      - hadolint-bin
      - vale-bin
  become: yes
  become_user: aurbuilder
  when: only_user_confs is not defined or not only_user_confs

- name: Copy YouCompleteMe configuration
  copy:
    src: ycm_extra_conf.py
    dest: "{{ user.home }}/.ycm_extra_conf.py"
    owner: "{{ user.name }}"

- name: Copy vale configuration
  copy:
    src: vale.ini
    dest: "{{ user.home }}/.vale.ini"
    owner: "{{ user.name }}"

- name: Copy vimrc
  copy:
    src: vimrc
    dest: "{{ user.home }}/.vimrc"
    owner: "{{ user.name }}"
  when: do_not_copy_vimrc is not defined or not do_not_copy_vimrc

- name: Create plugin directory
  file:
    path: "{{ user.home }}/.vim/pack/git-plugins/start"
    state: directory
    owner: "{{ user.name }}"

- name: Clone file_line plugin
  git:
    repo: https://github.com/bogado/file-line.git
    dest: "{{ user.home }}/.vim/pack/git-plugins/start/file-line"
    version: master

- name: Clone ale plugin
  git:
    repo: https://github.com/w0rp/ale.git
    dest: "{{ user.home }}/.vim/pack/git-plugins/start/ale"
    version: master

- name: Clone YouCompleteMe plugin
  git:
    repo: https://github.com/Valloric/YouCompleteMe.git
    dest: "{{ user.home }}/.vim/pack/git-plugins/start/YouCompleteMe"
    version: master

- name: Install YouCompleteMe
  command: ./install.py --clang-completer
  args:
    chdir: "{{ user.home }}/.vim/pack/git-plugins/start/YouCompleteMe"

- name: Clone vim-fugitive plugin
  git:
    repo: https://github.com/tpope/vim-fugitive.git
    dest: "{{ user.home }}/.vim/pack/git-plugins/start/vim-fugitive"
    version: master
