---

- hosts:
    - laptop
    - desktop
  gather_facts: no
  roles:
    - { role: bootstrap, tags: ['bootstrap'] }

- hosts:
    - laptop
    - desktop
  roles:
    - { role: android, tags: ['android'] }
    - { role: common, tags: ['common'] }
    - { role: cups, tags: ['cups'] }
    - { role: dev-python, tags: ['dev-python'] }
    - { role: docker, tags: ['docker'] }
    - { role: fonts, tags: ['fonts'] }
    - { role: gaming, tags: ['gaming'] }
    - { role: graphical_programs, tags: ['graphical_programs'] }
    - { role: latex, tags: ['latex'] }
    - { role: lightdm, tags: ['lightdm'] }
    - { role: mozilla, tags: ['mozilla'] }
    - { role: networkmanager, tags: ['networkmanager'] }
    - { role: notifications, tags: ['notifications'] }
    - { role: ntp, tags: ['ntp'] }
    - { role: screensaver, tags: ['screensaver'] }
    - { role: ssh, tags: ['ssh'] }
    - { role: users, tags: ['users'] }
    - { role: vim, tags: ['vim'] }
    - { role: wifi_bluetooth, tags: ['wifi_bluetooth'] }
    - { role: xorg, tags: ['xorg'] }
    - { role: yubikey, tags: ['yubikey'] }

- hosts: laptop
  roles:
    - { role: dev-ada, tags: ['dev-ada'] }
    - { role: dev-arduino, tags: ['dev-arduino'] }
    - { role: dev-common, tags: ['dev-common'] }
    - { role: dev-go, tags: ['dev-go'] }
    - { role: dev-stm32, tags: ['dev-stm32'] }
    - { role: download_tools, tags: ['download_tools'] }
    - { role: hdmi-sound-toggle, tags: ['hdmi-sound-toggle'] }
    - { role: virtualbox, tags: ['virtualbox'] }
    - { role: virtualization, tags: ['virtualization'] }
    - { role: timezone, tags: ['timezone'] }

- hosts: only_confs
  gather_facts: no
  roles:
    - { role: common, tags: ['common'] }
    - { role: notifications, tags: ['notifications'] }
    - { role: ssh, tags: ['ssh'] }
    - { role: vim, tags: ['vim'] }
