---

- name: List mapped names
  shell: "echo /dev/mapper/{{ item.vg | replace('-','--') }}-{{ item.lv | replace('-','--') }}"
  register: mapped_names
  with_items:
    - { vg: "{{ install.vg_root }}", lv: "{{ install.lv_swap }}" }
    - { vg: "{{ install.vg_root }}", lv: "{{ install.lv_root }}" }

- import_tasks: partition.yml

- import_tasks: prepare.yml
